/* Regular CSS styles */
.checkout-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.main-content {
  background-color: #eef2f4;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 21px 0 179px;
}

.header-section {
  position: fixed;
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  width: 70%;
  overflow: hidden;
  gap: 20px;
  justify-content: space-between;
  padding: 21px 68px;
  box-shadow: 1px 5px 9px 3px rgba(0, 0, 0, 0.147);
  z-index: 1000;
}

.logo {
  aspect-ratio: 4.13;
  object-fit: contain;
  object-position: center;
  width: 132px;
  max-width: 100%;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #000;
  justify-content: start;
  margin: auto 0;
  font: 500 14px Open Sans, sans-serif;
}

.nav-link {
  align-self: stretch;
  margin: auto 0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.user-actions {
  align-self: start;
  display: flex;
  margin-top: 4px;
  align-items: start;
  gap: 30px;
}

.action-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.divider-top {
  align-self: stretch;
  min-height: 0px;
  margin-top: 100px;
  width: 99.9%;
  border: 1px solid #d5d5d5;
}

.divider {
  align-self: stretch;
  min-height: 0px;
  margin-top: 10px;
  width: 99.9%;
  border: 1px solid #d5d5d5;
}

.checkout-content {
  display: flex;
  gap: 20px;
  align-items: start;
  max-width: 70%;
  margin: 38px auto;
  padding: 0 39px;
}

@media (max-width: 991px) {
  .checkout-content {
    flex-direction: column;
    padding: 0 20px;
  }
}

.content-grid {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .content-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.shipping-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 80%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .shipping-column {
    width: 100%;
  }
}

.shipping-details-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  color: #000;
  font: 20px Open Sans, sans-serif;
}

.section-title {
  font-weight: 700;
}

.address-card {
  border-radius: 20px;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  margin-top: 18px;
  width: 100%;
  align-items: start;
  gap: 20px;
  font-size: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 49px 80px 77px 22px;
  border: 1px solid #e4e4e4;
}

.address-info {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  align-items: start;
  font-weight: 500;
}

.info-item {
  margin-top: 9px;
}

.edit-button {
  display: flex;
  gap: 5px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
}

.edit-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 19px;
  align-self: start;
}

.method-card {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  color: #000;
  margin: 0 auto;
  padding: 49px 80px 77px 22px;
  font: 700 15px Open Sans, sans-serif;
  border: 1px solid #e4e4e4;
}

.method-description {
  flex-grow: 1;
  flex-basis: auto;
}

.payment-column {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  color: #000;
  margin: 0 auto;
  padding: 49px 80px 77px 22px;
  font: 700 15px Open Sans, sans-serif;
  border: 1px solid #e4e4e4;
}

.payment-option {
  display: flex;
  gap: 6px;
}

.radio-button {
  border-radius: 50%;
  align-self: start;
  display: flex;
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
}

.option-label {
  flex-basis: auto;
  flex-grow: 1;
}

.mobile-money-section {
  margin-top: 45px;
}

.mobile-option {
  display: flex;
  margin-top: 20px;
  gap: 6px;
}

.checkout-button {
  align-self: start;
  border-radius: 30px;
  background-color: #0055b6;
  min-height: 57px;
  gap: 10px;
  color: #fff;
  margin: 36px 0 0 0px;
  padding: 19px 150px;
  font: 700 15px Open Sans, sans-serif;
  border: none;
  cursor: pointer;
}

.order-summary {
  width: 38%;
}

@media (max-width: 991px) {
  .order-summary {
    width: 100%;
  }
}

.summary-container {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 30px 22px 57px;
}

.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 336px;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.order-items {
  margin-top: 30px;
}

.order-item {
  display: flex;
  gap: 20px;
  margin: 20px 11px;
  position: relative;
  align-items: flex-start;
}

.remove-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

.remove-icon:hover {
  opacity: 0.8;
}

.item-image {
  width: 89px;
  height: 84px;
  border-radius: 10px;
  object-fit: contain;
}

.item-title {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0 0 0;
  width: 89px;
  text-align: center;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.item-price {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  order: 1;
}

.quantity-control {
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid rgba(228, 228, 228, 1);
  width: 120px;
  order: 2;
}

.quantity-button {
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  color: #000;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.quantity-button:hover {
  background-color: black;
  color: #fff;
}

.item-total-price {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  order: 4;
}

.item-divider {
  border: 0;
  border-top: 1px solid #d5d5d5;
  margin: 17px 0;
}

.total-section {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #e4e4e4;
}

.total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.shipping-info {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #666;
  margin: 10px 0;
  text-align: center;
}

.footer {
  background-color: #000;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 0%;
}

.footer-content {
  padding: 73px 70px 40px;
  display: flex;
  justify-content: center;
}

.footer-sections {
  display: flex;
  flex-direction: row;
  width: 655px;
  max-width: 100%;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .footer-sections {
    flex-wrap: wrap;
    align-items: start;
    text-align: start;
    gap: 5rem;
    justify-content: center;
  }
}

.footer-logo-social {
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  margin-top: 19px;
  gap: 33px;
}

@media (max-width: 991px) {
  .social-icons {
    justify-content: center;
  }
}

.social-icon {
  width: 18px;
  aspect-ratio: 1;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-heading {
  color: #dedede;
  font-size: 17px;
  font-weight: 700;
  font-family: Inter, sans-serif;
}

.footer-link {
  color: #fff;
  font: 300 12px Inter, sans-serif;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.copyright {
  background-color: #191919;
  color: #fff;
  text-align: center;
  padding: 7px 70px 13px;
  font: 400 10px Inter, sans-serif;
}

@media (max-width: 991px) {
  .copyright {
    padding: 7px 20px;
  }
}
