.loginContainer {
  background-color: #fff;
}

.loginWrapper {
  background-color: #eef2f4;
  padding-top: 21px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 160px;
}

.mainContent {
  margin-top: 61px;
  width: 100%;
  max-width: 70%;
  align-self: center;
}

.contentGrid {
  display: flex;
  gap: 20px;
  margin-top: 10%;
}

@media (max-width: 991px) {
  .contentGrid {
    flex-direction: column-reverse;
  }
}

.imageSection {
  width: 50%;
  border-radius: 20px 0 0 20px;
  background-color: #182126;
  padding: 47px 10px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .imageSection {
    width: 100%;
  }
}

.heroImage {
  height: 578px;
  align-self: center;
  width: 100%;
  object-fit: cover;
}

.formSection {
  width: 50%;
  border-radius: 0 20px 20px 0;
  background-color: #fff;
  padding: 47px 60px;
  font-family: "Open Sans", -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .formSection {
    width: 100%;
    padding: 47px 10px;
  }
}

.formTitle {
  font-size: 20px;
  font-weight: 700;
  color: #182126;
  text-align: center;
  margin: 0 0 27px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 991px) {
  .signupForm {
    padding: 0px 60px;
  }
}

.formInput {
  background-color: #f7f7fa;
  padding: 10px 23px;
  font-size: 12px;
  color: #182126;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.formInput:focus {
  outline: none;
}

.inputGroup {
  background-color: #f7f7fa;
  display: flex;
  align-items: center;
  padding: 9px 22px;
  gap: 20px;
}

.inputIcon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.usernameNote {
  color: #423eff;
  font-size: 8px;
  margin: 10px 0 0 23px;
}

.submitButton {
  background-color: #000;
  color: #fff;
  border: none;
  width: 95%;
  border-radius: 20px;
  padding: 10px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  display: block;
}

.divider {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 24px 0;
}

.dividerLine {
  flex-grow: 1;
  height: 1px;
  background-color: rgba(24, 33, 38, 0.3);
}

.dividerText {
  font-size: 12px;
  color: #182126;
}

.socialLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 8px 0;
}

.socialText {
  font-size: 12px;
  color: #182126;
  margin: 0;
}

.socialLoginIcons {
  display: flex;
  gap: 8px;
}

.socialIcon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.loginLink {
  text-align: center;
  margin: 15px 0 0;
  font-size: 12px;
}

.linkBlue {
  color: #423eff;
  text-decoration: none;
}