.bundle-deals-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: #eef2f4;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 21px 0 179px;
}


/*------------------Header Style-------------------  */

.header-section {
    position: fixed;
    border-radius: 20px;
    background-color: #f2f2f2;
    display: flex;
    /* width: 1203px; */
    width: 70%;
    overflow: hidden;
    gap: 20px;
    justify-content: space-between;
    padding: 21px 68px;
    box-shadow: 1px 5px 9px 3px rgba(0, 0, 0, 0.147);
    z-index: 1000;
} 

.logo {
    aspect-ratio: 4.13;
    object-fit: contain;
    object-position: center;
    width: 132px;
    max-width: 100%;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #000;
    justify-content: start;
    margin: auto 0;
    font: 500 14px Open Sans, sans-serif;
}

.nav-link {
    align-self: stretch;
    margin: auto 0;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.user-actions {
    align-self: start;
    display: flex;
    margin-top: 4px;
    align-items: start;
    gap: 30px;
}

.action-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
}
.cart-badge{
    position: absolute;
    top: 15px;
    right: 60px;
    background: red;
    color: white;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    display: none;
    z-index: 100;
}

.divider-top {
    align-self: stretch;
    min-height: 0px;
    margin-top: 100px;
    width: 99.9%;
    border: 1px solid #d5d5d5;
}
.divider {
    align-self: stretch;
    min-height: 0px;
    margin-top: 10px;
    width: 99.9%;
    border: 1px solid #d5d5d5;
}

.breadcrumb-sort {
    display: flex;
    width: 100%;
    max-width: 70%;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 9px 0 0 0px;
}
@media (max-width: 991px) {
.breadcrumb-sort {
    width: 70%;
    justify-content: center;
    gap: 2rem;
}
}

.breadcrumb {
    align-self: start;
    display: flex;
    gap: 12px;
    color: #000;
    font: 15px Open Sans, sans-serif;
}

.breadcrumb-item {
    align-self: stretch;
    border-radius: 10px;
    background-color: #fff;
    /* min-height: 28px; */
    gap: 10px;
    padding: 4px 14px;
}
.breadcrumb-item.y{
    font: 700 15px Open Sans, sans-serif;
}

.sort-container {
display: flex;
gap: 5px;
}

.sort-label {
color: #000;
flex-grow: 1;
margin: auto 0;
font: 500 15px Open Sans, sans-serif;
}

.sort-Select {
border-radius: 10px;
background-color: #fff;
align-self: stretch;
display: flex;
align-items: start;
flex-direction: column;
justify-content: center;
padding: 5px 50px;
border: 1px solid #e4e4e4;
}
select{
padding: 4px 30px;
border: none;
cursor: pointer;
}

@media (max-width: 991px) {
.sort-select {
padding-left: 20px;
}
}





/* ---------------------Product Grid Styles-------------------------- */
.products-grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
gap: 20px;
margin-top: 20px;
width: 100%;
max-width: 70%;
}

@media (max-width: 991px) {
.products-grid {
width: 70%;
}
}

.product-card {
border-radius: 10px;
background-color: #fff;
padding: 15px 16px 26px;
border: 1px solid #e4e4e4;
display: flex;
flex-direction: column;
}

.product-image-container {
position: relative;
border-radius: 10px;
aspect-ratio: 1.06;
width: 100%;
cursor: pointer;
}

.product-image {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;

}

.favorite-icon {
position: absolute;
top: 14px;
left: 15px;
width: 19px;
aspect-ratio: 1;
cursor: pointer;
}
.product-badge {
    position: absolute;
    top: 10px;
    right: 13px;
    border-radius: 20px;
    background: #ffc107;
    padding: 6px 22px;
    font: 700 12px 'Open Sans', sans-serif;
    color: #000;
}


.product-title {
color: #000;
margin-top: 28px;
font: 700 14px Open Sans, sans-serif;
}

.product-details {
display: flex;
margin-top: 7px;
justify-content: space-between;
align-items: flex-start;
}

.rating-price {
display: flex;
flex-direction: column;
}

.rating {
display: flex;
gap: 10px;
font-size: 12px;
color: #a5a5a5;
align-items: center;
}

.rating-icon {
width: 16px;
aspect-ratio: 1;
}

.price {
color: #000;
font-size: 20px;
font-weight: 700;
margin-top: 7px;
font-family: Inter, sans-serif;
}
.cart-button{
background-color: #000;
border-radius: 50%;
cursor: pointer;
}
.cart-icon {
aspect-ratio: 1;
object-fit: contain;
object-position: center;
width: 25px;
margin: 3px 0px;
}



/* ---------------------Footer Styles-------------------------- */

.footer {
background-color: #000;
padding-top: 10px;
width: 100%;
margin-bottom: 0%;
}

.footer-content {
padding: 73px 70px 40px;
display: flex;
justify-content: center;
}

.footer-sections {
display: flex;
flex-direction: row;
width: 655px;
max-width: 100%;
gap: 20px;
justify-content: space-between;
}

.footer-logo-social {
display: flex;
flex-direction: column;
}

.social-icons {
display: flex;
margin-top: 19px;
gap: 33px;
}

.social-icon {
width: 18px;
aspect-ratio: 1;
}

.footer-links {
display: flex;
flex-direction: column;
gap: 32px;
}

.footer-heading {
color: #dedede;
font-size: 17px;
font-weight: 700;
font-family: Inter, sans-serif;
}

.footer-link {
color: #fff;
font: 300 12px Inter, sans-serif;
text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
text-decoration: underline;
}

.copyright {
background-color: #191919;
color: #fff;
text-align: center;
padding: 7px 70px 13px;
font: 400 10px Inter, sans-serif;
}

@media (max-width: 991px) {
.main-content {
    max-width: 100%;
    padding-bottom: 100px;
}

.header-section {
    padding: 0 20px;
}

.breadcrumb-sort {
    max-width: 100%;
}

.footer-content {
    padding: 40px 20px;
}

.footer-sections {
    flex-wrap: wrap;
    align-items: start;
    text-align: start;
    gap: 5rem;
    justify-content: center;
}

.social-icons {
    justify-content: center;
}

.copyright {
    padding: 7px 20px;
}
}

