:root {
    --color-white: rgba(255, 255, 255, 1);
    --color-light-gray: rgba(238, 242, 244, 1);
    --color-dark-gray: rgba(213, 213, 213, 1);
    --color-primary: rgba(0, 85, 182, 1);
    --color-black: rgba(0, 0, 0, 1);
}

.charts {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: #eef2f4;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 21px 0 179px;
}


/*------------------Header Style-------------------  */

.header-section {
    position: fixed;
    border-radius: 20px;
    background-color: #f2f2f2;
    display: flex;
    /* width: 1203px; */
    width: 70%;
    overflow: hidden;
    gap: 20px;
    justify-content: space-between;
    padding: 21px 68px;
    box-shadow: 1px 5px 9px 3px rgba(0, 0, 0, 0.147);
    z-index: 1000;
}

.logo {
    aspect-ratio: 4.13;
    object-fit: contain;
    object-position: center;
    width: 132px;
    max-width: 100%;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #000;
    justify-content: start;
    margin: auto 0;
    font: 500 14px Open Sans, sans-serif;
}

.nav-link {
    align-self: stretch;
    margin: auto 0;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.user-actions {
    align-self: start;
    display: flex;
    margin-top: 4px;
    align-items: start;
    gap: 30px;
}

.action-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
}

.divider-top {
    align-self: stretch;
    min-height: 0px;
    margin-top: 100px;
    width: 99.9%;
    border: 1px solid #d5d5d5;
}

.divider {
    align-self: stretch;
    min-height: 0px;
    margin-top: 10px;
    width: 99.9%;
    border: 1px solid #d5d5d5;
}

.breadcrumb-sort {
    display: flex;
    width: 100%;
    max-width: 70%;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 9px 0 0 0px;
}

@media (max-width: 991px) {
    .breadcrumb-sort {
        width: 70%;
        justify-content: center;
        gap: 2rem;
    }
}

.breadcrumb {
    align-self: start;
    display: flex;
    gap: 12px;
    color: #000;
    font: 15px Open Sans, sans-serif;
}

.breadcrumb-item {
    align-self: stretch;
    border-radius: 10px;
    background-color: #fff;
    /* min-height: 28px; */
    gap: 10px;
    padding: 4px 14px;
}

.breadcrumb-item.y {
    font: 700 15px Open Sans, sans-serif;
}

.sort-container {
    display: flex;
    gap: 5px;
}

.sort-label {
    color: #000;
    flex-grow: 1;
    margin: auto 0;
    font: 500 15px Open Sans, sans-serif;
}

.sort-Select {
    border-radius: 10px;
    background-color: #fff;
    align-self: stretch;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px 50px;
    border: 1px solid #e4e4e4;
}

select {
    padding: 4px 30px;
    border: none;
    cursor: pointer;
}

@media (max-width: 991px) {
    .sort-select {
        padding-left: 20px;
    }
}

.cart-container {
    align-self: center;
    display: flex;
    margin-top: 38px;
    width: 100%;
    max-width: 70%;
    flex-direction: column;
    font-family: Open Sans, sans-serif;
    color: var(--color-black);
    font-weight: 700;
    /* padding: 0 72px; */
}

@media (max-width: 991px) {
    .cart-container {
        max-width: 100%;
        padding: 0 20px;
    }
}

.cart-header {
    font-size: 25px;
    align-self: center;
}

.continue-shopping {
    font-size: 15px;
    font-weight: 500;
    align-self: center;
}

.cart-summary {
    display: flex;
    width: 100%;
    max-width: 75%;
    gap: 25px;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 41px 0 0 50px;
}

@media (max-width: 991px) {
    .cart-summary {
        margin-top: 40px;
        white-space: initial;
        align-self: center;
        max-width: 50%;
        margin: 41px 0 0 0px;
    }
}

.cart-summary-column {
    display: flex;
    gap: 40px 120px;
}

@media (max-width: 991px) {
    .cart-summary-column {
        white-space: initial;
    }
}

.cart-item {
    border-radius: 10px;
    background-color: var(--color-white);
    display: flex;
    margin-top: 18px;
    width: 100%;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0px;

}

@media (max-width: 991px) {
    .cart-item {
        max-width: 70%;
        /* padding: 0 20px; */
        align-self: center;
    }
}

.cart-item-content {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-left: 30px;
}

@media (max-width: 1200px) {
    .cart-item-content {
        flex-direction: column;
    }
}

.product-image {
    aspect-ratio: 1.06;
    object-fit: contain;
    object-position: center;
    width: 89px;
    border-radius: 10px;
}

.product-description {
    flex-basis: auto;
    margin: auto 0;
}

.product-details {
    align-self: stretch;
    display: flex;
    align-items: start;
    gap: 40px 84px;
    white-space: nowrap;
    margin: auto 0;
}

@media (max-width: 991px) {
    .product-details {
        white-space: initial;
    }
}

.product-price,
.product-total-price {
    align-self: stretch;
    margin: auto 0;
    text-align: start;
}

.quantity-selector {
    border-radius: 10px;
    align-self: stretch;
    display: flex;
    /* width: 140px; */
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* height: 47px; */
    padding: 10px 20px;
    border: 1px solid rgba(228, 228, 228, 1);
}

.quantity-btn {
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    color: #000;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.quantity-btn:hover {
    background-color: black;
    color: #fff;
}

.product-total-price {
    font-weight: bold;
}

.remove-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 19px;
    cursor: pointer;
    align-self: stretch;
    margin: auto 0;
    padding-right: 30px;
}

.subtotal-section {
    align-self: end;
    margin-top: 36px;
    width: 551px;
    max-width: 100%;
    height: 1px;
    border: 1px solid var(--color-dark-gray);
}

.subtotal-container {
    align-self: end;
    display: flex;
    width: 324px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
    margin: 23px 152px 0 0;
}

@media (max-width: 991px) {
    .subtotal-container {
        margin-right: 10px;
    }
}

.subtotal-label {
    font-size: 15px;
    align-self: start;
    margin-top: 11px;
}

.subtotal-amount {
    font-size: 25px;
}

.checkout-divider {
    align-self: end;
    margin-top: 32px;
    width: 551px;
    max-width: 100%;
    height: 1px;
    border: 1px solid var(--color-dark-gray);
}

.tax-shipping-info {
    font-size: 15px;
    font-weight: 500;
    align-self: end;
    margin: 10px 127px 0 0;
}

@media (max-width: 991px) {
    .tax-shipping-info {
        margin-right: 10px;
    }
}

.checkout-button {
    align-self: end;
    border-radius: 30px;
    background-color: var(--color-primary);
    margin-top: 32px;
    color: #fff;
    gap: 10px;
    font-size: 15px;
    color: var(--color-white);
    padding: 19px 200px;
}

.checkout-button a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 991px) {
    .checkout-button {
        margin-right: 10px;
        padding: 0 20px;
    }
}




/* ---------------------Footer Styles-------------------------- */

.footer {
    background-color: #000;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 0%;
}

.footer-content {
    padding: 73px 70px 40px;
    display: flex;
    justify-content: center;
}

.footer-sections {
    display: flex;
    flex-direction: row;
    width: 655px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
}

.footer-logo-social {
    display: flex;
    flex-direction: column;
}

.social-icons {
    display: flex;
    margin-top: 19px;
    gap: 33px;
}

.social-icon {
    width: 18px;
    aspect-ratio: 1;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-heading {
    color: #dedede;
    font-size: 17px;
    font-weight: 700;
    font-family: Inter, sans-serif;
}

.footer-link {
    color: #fff;
    font: 300 12px Inter, sans-serif;
    text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
    text-decoration: underline;
}

.copyright {
    background-color: #191919;
    color: #fff;
    text-align: center;
    padding: 7px 70px 13px;
    font: 400 10px Inter, sans-serif;
}

@media (max-width: 991px) {
    .main-content {
        max-width: 100%;
        padding-bottom: 100px;
    }

    .header-section {
        padding: 0 20px;
    }

    .breadcrumb-sort {
        max-width: 100%;
    }

    .footer-content {
        padding: 40px 20px;
    }

    .footer-sections {
        flex-wrap: wrap;
        align-items: start;
        text-align: start;
        gap: 5rem;
        justify-content: center;
    }

    .social-icons {
        justify-content: center;
    }

    .copyright {
        padding: 7px 20px;
    }
}