.footer {
  background-color: #000;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 0%;
}

.footer-content {
  padding: 73px 70px 40px;
  display: flex;
  justify-content: center;
}

.footer-sections {
  display: flex;
  flex-direction: row;
  width: 655px;
  max-width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.footer-logo-social {
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  margin-top: 19px;
  gap: 33px;
}

.social-icon {
  width: 18px;
  aspect-ratio: 1;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-heading {
  color: #dedede;
  font-size: 17px;
  font-weight: 700;
  font-family: Inter, sans-serif;
}

.footer-link {
  color: #fff;
  font: 300 12px Inter, sans-serif;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.copyright {
  background-color: #191919;
  color: #fff;
  text-align: center;
  padding: 7px 70px 13px;
  font: 400 10px Inter, sans-serif;
}

@media (max-width: 991px) {
  .main-content {
    max-width: 100%;
    padding-bottom: 100px;
  }

  .header-section {
    padding: 0 20px;
  }

  .breadcrumb-sort {
    max-width: 100%;
  }

  .footer-content {
    padding: 40px 20px;
  }

  .footer-sections {
    flex-wrap: wrap;
    align-items: start;
    text-align: start;
    gap: 5rem;
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }

  .copyright {
    padding: 7px 20px;
  }
}